[Unit]
Description=TCP SOCKS proxy
After=network.target

[Service]
ExecStart=/venv/bin/pproxy -l socks5://0.0.0.0:8080
Restart=on-failure
User=pproxy

[Install]
WantedBy=multi-user.target
